.GlobalNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  border-bottom: 0.1px solid var(--metal-300);

  & ul {
    display: flex;
    flex-flow: row wrap;
  }

  & a {
    display: flex;
    padding: 16px 20px;
    color: var(--metal-400);
    font-size: 0.75rem;

    &.active {
      background: var(--metal-100);
      color: var(--metal-950);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 1px var(--metal-800);
      color: var(--metal-800);
    }
  }
}

.SearchComponentBar {
  width: var(--side-width, 220px);
  margin: 12px 20px 0;

  & input {
    width: 100%;
    padding: 0.36em 0.62em;
    font-size: 14px;
    border: 1px solid var(--metal-300);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: var(--metal-800);
    }
  }
}

.ComponentList {
  margin: 16px 0 0 20px;

  & ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-size: 14px;
  }

  & li {
    font-size: inherit;
    color: var(--warn);
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--a-size);
    height: var(--a-size);
    border: 0.1px solid currentColor;
    border-radius: 6px;

    font-size: inherit;
    color: var(--metal-400);

    &:hover {
      color: var(--metal-950);
    }

    &:focus {
      outline: none;
      border-width: 1px;
      color: var(--metal-800);
    }
  }
}
