body {
  --gap: 4px;
  --side-width: 220px;
  --white: #fff;
  --black: #000;
  --gray-50: #f6f5f5;
  --gray-100: #eeeeee;
  --gray-200: #c4c4c4;
  --gray-300: #afafaf;
  --gray-400: #939393;
  --gray-500: #7e7e7e;
  --gray-600: #616161;
  --gray-700: #494949;
  --gray-800: #3a3a3a;
  --gray-900: #2c2c2c;
  --gray-950: #101010;
  --warn: #3d3927;
  --a-size: 100px;

  margin: 60px 0 0;
  background: var(--white);
}

.GlobalNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  border-bottom: 0.1px solid var(--gray-300);

  & ul {
    display: flex;
    flex-flow: row wrap;
  }

  & a {
    display: flex;
    padding: 16px 20px;
    color: var(--gray-400);
    font-size: 0.75rem;

    &.active {
      background: var(--gray-100);
      color: var(--gray-950);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 1px var(--gray-800);
      color: var(--gray-800);
    }
  }
}

.SearchComponentBar {
  width: var(--side-width, 220px);
  margin: 12px 20px 0;

  & input {
    width: 100%;
    padding: 0.36em 0.62em;
    font-size: 14px;
    border: 1px solid var(--gray-300);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: var(--gray-800);
    }
  }
}

.ComponentList {
  margin: 16px 0 0 20px;

  & ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-size: 14px;
  }

  & li {
    font-size: inherit;
    color: var(--warn);
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--a-size);
    height: var(--a-size);
    border: 0.1px solid currentColor;
    border-radius: 6px;

    font-size: inherit;
    color: var(--gray-400);

    &:hover {
      color: var(--gray-950);
    }

    &:focus {
      outline: none;
      border-width: 1px;
      color: var(--gray-800);
    }
  }
}

.Prose {
  margin: 20px;

  & h1 {
    margin-block-end: 1rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--gray-800);
  }
  
  & h2 {
    margin-block-end: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--gray-700);
  }

  & > article {
    margin-block-start: 24px;
    & > header {
      display: flex;
      justify-content: space-between;
    }
  }

}

.ComponentWrapper {
  cursor: pointer;
  position: relative;
  margin: 4px 0;
  border-radius: 6px;
  border: 1px solid var(--gray-200);
  padding: 1rem 1rem 0.7rem;
  background-color: var(--white);

  &.dark {
    background-color: var(--black);
  }

  &::before {
    content: 'COPIED CODE';
    position: absolute;
    z-index: -1;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0 0 0 / 5%);
    color: var(--gray-400);
    font-size: 12px;
    font-weight: 700;
    backdrop-filter: blur(2px);
  }

  &.copied::before {
    z-index: 1000;
  }
}

.ClipboardButton {
  --icon-size: 16px;

  width: var(--icon-size);
  height: var(--icon-size);
  border: 0;
  border-radius: 4px;
  background: var(--white) url('/lookbook/assets/images/clipboard.svg') no-repeat center;

  &:hover {
    background-color: var(--gray-100);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--gray-800);
    outline-offset: 1px;
  }

  &:active {
    background-image: url('/lookbook/assets/images/clipboard-copied.svg');
  }
}