:root {
  /* 룩북 시스템 */
  --gap: 4px;
  --side-width: 220px;

  --white: #fff;
  --black: #000;
  
  --metal-50: #f6f5f5;
  --metal-100: #eeeeee;
  --metal-200: #c4c4c4;
  --metal-300: #afafaf;
  --metal-400: #939393;
  --metal-500: #7e7e7e;
  --metal-600: #616161;
  --metal-700: #494949;
  --metal-800: #3a3a3a;
  --metal-900: #2c2c2c;
  --metal-950: #101010;

  --warn: #3d3927;
  
  --a-size: 6.25rem; /* 100px */


  /* Figma 디자인 토큰 */

  --white: #FFFFFF;
  --black: #000000;
  --zinc-50: #FAFAFA;
  --zinc-100: #F5F5F5;
  --zinc-200: #E1E1E1;
  --zinc-300: #CACACA;
  --zinc-400: #AFAFAF;
  --zinc-500: #8F8F8F;
  --zinc-600: #7D7C7C;
  --zinc-700: #656464;
  --zinc-800: #4B4A4A;
  --zinc-900: #282829;
  --zinc-950: #121212;
  --blue-50: #EFF8FF;
  --blue-100: #DBEEFE;
  --blue-200: #BFE2FE;
  --blue-300: #93D1FD;
  --blue-400: #60B7FA;
  --blue-500: #3695F6;
  --blue-600: #0869CD;
  --blue-700: #1D64D8;
  --blue-800: #1E51AF;
  --blue-900: #1E468A;
  --blue-950: #172C54;

  --shadow--100: 0px 2px 4px rgba(0, 0, 0, 0.3);
  
}