<!DOCTYPE html>
<html lang="ko-KR">

  <head>
    <meta charset="UTF-8" />
    <title>파비콘 (Favicon)</title>
    <meta name="description" content="즐겨찾기 아이콘 컴포넌트" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/lookbook/assets/images/lookbook.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/lookbook/assets/images/lookbook-dark.svg" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="/lookbook/assets/styles/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script type="module" src="/lookbook/index.js"></script>
  </head>

  <body>

    <y-prose headline="파비콘 (Favicon)">

      <y-story label="라이트 테마">
        <figure class="Favicon">
          <img src="/assets/Logo/Favicon.svg" alt="" />
          <figcaption>Apple</figcaption>
        </figure>
      </y-story>

      <y-story label="다크 테마" dark>
        <figure class="Favicon">
          <img src="/assets/Logo/Favicon-dark.svg" alt="" />
          <figcaption>Apple (Dark)</figcaption>
        </figure>
      </y-story>

      <y-story label="아이콘 크기, 글자 크기, 간격 및 라인 조정">
        <figure
            class="Favicon"
            style="
              --icon-size: 28px;
              --font-size: 10px;
              --gap: 6px;
              --line-adjust: -10px;
            ">
            <img src="/assets/Logo/Favicon.svg" alt="" />
            <figcaption>Apple</figcaption>
          </figure>
      </y-story>

    </y-prose>

  </body>

</html>