.Button {
  --font-size: 1rem;
  --font-weight: 500;
  --background-color: transparent;
  --color: var(--zinc-950, #121212);
  --outline-color: var(--blue-500);
  --outline-thick: 3px;
  --radius: 8px;
  --padding-inline: 0.75em;
  --padding-block: 0.5em;

  opacity: 0.9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  border: 0;
  background: var(--background-color, #fff);
  padding: var(--padding-block) var(--padding-inline);
  color: var(--color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    background: var(--zinc-50, #FAFAFA);
  }

  &:focus {
    opacity: 1;
    outline: none;
  }

  &:focus-visible {
    opacity: 1;
    outline: var(--outline-thick) solid var(--outline-color, #3695F6);
  }

  &:disabled {
    opacity: 1;
    background: var(--zinc-50, #FAFAFA);
    color: var(--zinc-500, #8F8F8F);
  }
}