<!DOCTYPE html>
<html lang="ko-KR">

  <head>
    <meta charset="UTF-8" />
    <title>컴포넌트 이름</title>
    <meta name="description" content="작성할 컴포넌트를 설명합니다." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/lookbook/assets/images/lookbook.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/lookbook/assets/images/lookbook-dark.svg" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="/lookbook/assets/styles/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script type="module" src="/lookbook/index.js"></script>
  </head>

  <body>

    <!-- 웹 컴포넌트를 사용하면 코드가 어떻게 개선될까? -->
    <!-- y-prose[headline] -->
    <!-- y-story[label][dark] -->

    <section class="Prose">
      <h1>컴포넌트 이름</h1>

      <article>
        <header>
          <h2>컴포넌트 변형(variant) 이름</h2>
          <button type="button" class="ClipboardButton" aria-label="코드 복사" title="코드 복사"></button>
        </header>
        <!-- .ComponentWrapper 내부에 컴포넌트 코드를 작성합니다. -->
        <div class="ComponentWrapper">

        </div>
      </article>

    </section>

  </body>

</html>